// Specific CSS for your home-page
.gradient {
  background-image: linear-gradient(to right, #0e86cb, #0094cf, #00a1d0, #00adcf, #11b9cc);
}

.colour-primary {
  color: #11B9CC;
}

.colour-secondary {
  background-color: #0E86CB;
  color: white;
}

#logo {
  width: 256px;
  height: 56px;
  position: absolute;
  top: 0;
  left: -1px;
}

.bell {
  height: 20px;
  width: 20px;
  color: #00C5CD;
}

.line {
  box-sizing: border-box;
  height: 56px;
  width: 2px;
  border-right: 1px solid #E4E4E4;
}

#name {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.navbar {
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding-top: 10px;
}

#profile-pic {
  margin: 0;
  img {
    height: 32px;
    width: 32px;
    border-radius: 100px;
  }
}


#sidebar {
  width: 256px;
  top: 56px;
  left: 0;
  height: 200vh;
  font-weight: lighter;
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 24.9px 30px;
    }
  }
}

#main-body {
  position: absolute;
  left: 256px;
  top: 56px;
  width: calc(100% - 256px);
  height: 100%;
  padding: 10px 30px;
  #header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    h1 {
      font-size: 24px;
      color: $gray;
      font-weight: 400;
    }
  }

  #home-goal {
    background-color: white;
    margin-top: 20px;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    text-align: center;
    padding: 20px;
    p {
      font-size: 14px;
      line-height: 20px;
      color: #2E3236;
    }
  }
}

