<nav class="navbar navbar-light bg-light">
  <div id="logo" class="navbar-brand gradient" href="#">
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-right list-inline">
            <li class="bell"><i class="far fa-bell"></i></li>
            <li class="line"></li>
            <li id="name" class="nav-item">
                <span class="nav-link" href="#">Jesse H.</span>
            </li>
            <li id="profile-pic">
              <%= image_tag 'profile' %>
            </li>
        </ul>
    </div>
</nav>

<div id="sidebar" class="colour-secondary wrapper">
  <ul class="sidebar-links">
    <li><i class="fas fa-bullseye"></i> My Account</li>
    <li class="active"><i class="fas fa-home"></i> My Goals</li>
    <li><i class="fas fa-tag"></i> My Offers</li>
    <li><i class="fas fa-search"></i> Browse Trips</li>
    <li><%= image_tag("sun.png") %> Vacation Policy</li>
  </ul>
</div>

<div id="main-body">
  <div id="header">
    <h1>Your Goals</h1>
    <button type="button" class="secondary-btn my-btn" data-toggle="modal" data-target="#modal">+ Add a Goal</button>
  </div>
  <div id="home-goal">
    <p>Create a goal to get started</p><br>
    <button type="button" class="action-btn my-btn" data-toggle="modal" data-target="#modal">+ Add a Goal</button>
  </div>
</div>


<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="goalCreatorModal" aria-hidden="true">
  <div class="modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="whereTitle" class="modal-title hidden">WHERE DO YOU WANT TO GO?</h6>
        <h6 id="costTitle" class="modal-title ">HOW MUCH DO YOU NEED?</h6>
        <h6 id="summaryTitle" class="modal-title hidden">WHERE DO YOU WANT TO GO?</h6>
        <button type="button" class="close " data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-progress gradient"></div>
      <div id="whereBody" class="modal-body hidden">
        <form>
          <div class="form-group">
            <label for="goalName">Goal Name</label>
            <input type="goal" class="form-control" id="goalName" aria-describedby="goalHelp" placeholder="Goal Name">
          </div>
          <div class="form-group">
            <label for="destinationName">Destination</label>
            <input type="destination" class="form-control" id="destinationName" aria-describedby="destinationHelp" placeholder="Destination">
          </div>
          <div class="form-group">
            <label for="travelType">Type of Travel</label>
            <select class="form-control custom-select custom-select-sm" id="travelType">
              <option>Wilderness</option>
              <option>Adventure</option>
              <option>Down South</option>
              <option>Road Trip</option>
              <option>Weekend Break</option>
            </select>
          </div>
          <div class="form-row">

            <div class="col-10">
              <label for="travelTime">Length of Trip</label>
              <input type="length" class="form-control" id="travelTime" aria-describedby="lengthHelp" placeholder="Length in Days">
            </div>
            <div class="col-2 days-label">
              <span>Days</span>
            </div>
          </div>
        </form>
      </div>
      <div id="costBody" class="modal-body ">
        <label for="flights">Flights</label>
        <div class="form-row ">
          <div class="form-group form-inline" id="flights">
            <div class="col-4">
              <input type="amount" class="form-control" id="amountFlights" aria-describedby="amount" placeholder="0">
            </div>
              <div class="col-1 colour-primary">
              <span>X</span>
            </div>
            <div class="col-2">
              <input type="people" class="form-control" id="peopleFlights" aria-describedby="people" placeholder="1">
            </div>
            <div class="col-3 colour-primary">
              <span>people = </span>
            </div>
            <div class="col-2">
              <span id="estimateFlight">$0</span>
            </div>
          </div>
        </div>
        <label for="accomodations">Accomodations</label>
        <div class="form-row ">
          <div class="form-group form-inline" id="accomodations">
            <div class="col-4">
              <input type="amount" class="form-control" id="amountAccomodations" aria-describedby="amount" placeholder="0">
            </div>
              <div class="col-1 colour-primary">
              <span>X</span>
            </div>
            <div class="col-2">
              <input type="people" class="form-control" id="daysAccomodations" aria-describedby="people" placeholder="1">
            </div>
            <div class="col-3 colour-primary">
              <span>days = </span>
            </div>
            <div class="col-2">
              <span id="estimateAccomadation">$0</span>
            </div>
          </div>
        </div>
        <label for="carRental">Car Rental</label>
        <div class="form-row ">
          <div class="form-group form-inline" id="carRental">
            <div class="col-4">
              <input type="amount" class="form-control" id="amountCar" aria-describedby="amount" placeholder="0">
            </div>
              <div class="col-1 colour-primary">
              <span>X</span>
            </div>
            <div class="col-2">
              <input type="people" class="form-control" id="daysCar" aria-describedby="people" placeholder="1">
            </div>
            <div class="col-3 colour-primary">
              <span>people = </span>
            </div>
            <div class="col-2">
              <span id="estimateCar">$0</span>
            </div>
          </div>
        </div>
        <label for="foodBeverage">Food and Beverage</label>
        <div class="form-row ">
          <div class="form-group form-inline" id="foodBeverage">
            <div class="col-4">
              <input type="amount" class="form-control" id="amountFood" aria-describedby="amount" placeholder="0">
            </div>
              <div class="col-1 colour-primary">
              <span>X</span>
            </div>
            <div class="col-2">
              <input type="people" class="form-control" id="daysFood" aria-describedby="people" placeholder="1">
            </div>
            <div class="col-3 colour-primary">
              <span>people = </span>
            </div>
            <div class="col-2">
              <span id="estimateFood">$0</span>
            </div>
          </div>
        </div>
        <label for="activities">Activities</label>
        <div class="form-row ">
          <div class="form-group form-inline" id="activities">
            <div class="col-4">
              <input type="amount" class="form-control" id="amountActivities" aria-describedby="amount" placeholder="0">
            </div>
              <div class="col-1 colour-primary">
              <span>X</span>
            </div>
            <div class="col-2">
              <input type="people" class="form-control" id="daysActivities" aria-describedby="people" placeholder="1">
            </div>
            <div class="col-3 colour-primary">
              <span>people = </span>
            </div>
            <div class="col-2">
              <span id="estimateActivities">$0</span>
            </div>
          </div>
        </div>
        <span id="total">You will need an approximate total of </span>
      </div>
      <div id="summaryBody" class="modal-body hidden">
        <div class="form-group">
          <label for="fileUpload">Choose a visual for your goal</label>
          <input type="file" class="form-control-file" id="fileUpload">
        </div>
        <div class="form-row">
          <label for="goalAmount">Your Goal Amount</label>
          <div class="col-6 ">
            <input type="estimate" class="form-control" id="estimateCost" aria-describedby="people" placeholder="0">s
          </div>
          <div class="col-6 colour-primary">
            <a href="#">Edit Estimates</a>
          </div>
        </div>
        <div class="form-group">
          <label for="date">Departure Date</label>
          <input type="date" class="form-control" id="date" aria-describedby="dateHelp" placeholder="Date">
          <label><input type="checkbox" value="">I don't know yet</label>
        </div>
        <div class="form-group">
          <label for="radio">Have you asked your employer for time off yet?</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
        <div class="form-group">
          <label for="contribution">Your monthly contribution to this goal</label>
          <input type="contribution" class="form-control" id="contribution" aria-describedby="contributionHelp" placeholder="Amount">
          <p>Note: You can save for multiple goals at once</p>
        </div>
        <span id="final">In order to reach your goal you will need to save</span>
      </div>
      <div class="modal-footer">
        <div id="costFooter">
          <div class="checkbox">
            <label><input type="checkbox" id="estimateGeneral" value="">I'd rather just make a general estimate for now</label>
          </div>
          <input type="estimate" class="form-control" id="guessEstimate" aria-describedby="people" placeholder="1">
        </div>
        <button type="button" id="nextBtn" class="my-btn action-btn">Next Step</button>
        <button type="button" id="doneBtn" class="my-btn action-btn">Done</button>
      </div>
    </div>
  </div>

</div>

<div>Icons made by <a href="https://www.flaticon.com/authors/lucy-g" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
