.secondary-btn {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  color: $gray;
  margin-top: 20px;
}

.action-btn {
  border: 1px solid #009EA4;
  background-color: #00C5CD;
  color: white;
}

.my-btn {
  border-radius: 18px;
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
  border: 1px solid #C4CDD5;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  text-align: center;
  width: 141px;
}
